<div class="container">
  <div class="jumbotron" id="banner-img">
    <h1>Breyta "Um okkur"</h1>
  </div>

  <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="card" id="cardStyle">
          <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4" class="col-form-label">Hvað er Royal Rangers?</label>
                  <textarea class="form-control animated" placeholder=""></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label for="inputPassword4" class="col-form-label">Vers</label>
                  <textarea class="form-control animated" placeholder=""></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4" class="col-form-label">Youtube linkur</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="">
                </div>
              </div>
            </form>
        </div>
      </div>
</div>
