<div class="container">
  <div class="jumbotron" id="banner-img">
    <h1>Royal Rangers</h1>
  </div>

  <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="card" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header">Hvað er Royal Rangers?</h3>
          <div class="card-block">
            <p class="card-text">Royal rangers er kristilegt skátastarf. Það er starfandi í um 100 löndum. Þar á meðal á öllum norðurlöndunum. Hér á Íslandi hefur það verið starfandi síðan árið 1999. Royal Rangers starfar undir stjórn Hvítasunnuhreyfingarinnar á Íslandi. Öll börn hafa aðgang að starfinu óháð kirkjudeildum og trúarafstöðu. Öll börn og unglingar í 3.bekk og eldri eru velkomin í Royal Rangers skátastarfið.
                                  Í Royal Rangers lærum við að hjálpast ap og styrkja getu hvors annars. Við leggjum æaherslu á vináttu og kærleik, einning lærum við um Guð. Starfið er gjaldfrjálst Þ.e.a.s. engin félagsgjöld, Royal Rangers búningurinn, ferðir og mót greiða foreldrar. Við leggjum áherslu á að þessi kostnaður sé í lágmarki. Fyrir stærri ferðir eru haldnar fjáraflanir í samstarfi við foreldra.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <div class="card" id="cardStyle" data-aos="fade-left">
        <!--  <h3 class="card-header">Featured</h3>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>-->
          <iframe src="https://www.youtube.com/embed/QA64yqyjDvA?autoplay=1&loop=1" width="100%" height="300px" top=0 left=0 position="absolute" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="card card-inverse card-success mb-3 text-center" id="cardStyle" data-aos="fade-up">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
            <p style="text-align:left; font-size:95%;">En líki ykkur ekki að þjóna Drottni, kjósið þá í dag hverjum þið viljið þjóna, hvort heldur guðunum sem forfeður ykkar þjónuðu handan Efrat eða guðum Amoríta en í landi þeirra búið þið nú. En ég og mínir ættmenn munum þjóna Drottni.</p>
            <footer>Jósúa 24:15</footer>
          </blockquote>
        </div>
      </div>
      </div>
  </div>
</div>
