<div class="container">

  <div class="row">
      <div class="col-sm-5 col-md-6">
     <a routerLink="/events" routerLinkActive="active">
        <div class="card hvr-fade" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header" style="background-color:#ffff;  text-align:center;  border-radius:1px;"></h3>
          <p style="text-align: center; margin-top:30%; margin-bottom:30%; font-size:200%;"><b>Skrá nýjan viðburð</b></p>
        </div>
      </a>
      <a routerLink="/announcements" routerLinkActive="active">
        <div class="card hvr-fade" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header" style="background-color:#ffff;  text-align:center;  border-radius:1px;"></h3>
          <p style="text-align: center; margin-top:30%; margin-bottom:30%; font-size:200%;"><b>Skrá nýja tilkynningu</b></p>
        </div>
      </a>
      </div>

<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">

    <a routerLink="/aboutedit" routerLinkActive="active">
        <div class="card hvr-fade" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header" style="background-color:#ffff;  text-align:center;  border-radius:1px;"></h3>
          <p style="text-align: center; margin-top:30%; margin-bottom:30%; font-size:200%;"><b>Breyta "Um okkur"</b></p>
        </div>
      </a>

    <a routerLink="/contactinformationedit" routerLinkActive="active">
        <div class="card hvr-fade" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header" style="background-color:#ffff;  text-align:center;  border-radius:1px;"></h3>
          <p style="text-align: center; margin-top:30%; margin-bottom:30%; font-size:200%;"><b>Breyta "Hafðu samband"</b></p>
        </div>
      </a>
      </div>
  </div>
</div>
