<div class="container">

  <div class="card" id="loginBox">
  <div class="card-header fa-4x" style="text-align:center;">
    <i class="fa fa-lock" aria-hidden="true"></i>
  </div>
  <div class="card-block" style="text-align:center;">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Notendanafn">
    </div>
    <br>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Lykilorð">
    </div>
    <br>
    <button type="button" class="btn btn-outline-success">Skrá inn</button>
  </div>
</div>

</div>
