<div class="container">
  <div class="jumbotron" id="banner-img">
    <h1>Royal Rangers</h1>
  </div>

  <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="card" id="cardStyle" data-aos="fade-right">
          <h3 class="card-header">Starfsmenn</h3>
          <div class="card-block">
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <div class="card" id="cardStyle" data-aos="fade-left">
         <h3 class="card-header">Tengiliða upplýsingar</h3>
          <div class="card-block">
            <span class="card-text"><i class="fa fa-phone fa-2x fa-pull-left fa-border" aria-hidden="true"></i> <p id="contactText">888-8888</p></span>
          </div>
          <div class="card-block" style="padding-top: 0;">
            <span class="card-text"><i class="fa fa-envelope fa-2x fa-pull-left fa-border" aria-hidden="true"></i> <p id="contactText">royalRangers@gmail.com</p></span>
          </div>
          <div class="card-block" style="padding-top: 0;">
            <span class="card-text"><i class="fa fa-location-arrow fa-2x fa-pull-left fa-border" aria-hidden="true"></i> <p id="contactText">Hatúni 2</p></span>
          </div>
      </div>

      <div class="card" id="cardStyle" data-aos="fade-up">
        <h3 class="card-header">Staðsetning</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d895481.2103871217!2d-22.042716892052084!3d64.00055111974089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x48d674b9eedcedc3%3A0xec912ca230d26071!2sReykjav%C3%ADk%2C+Iceland!3m2!1d64.12652059999999!2d-21.8174393!4m5!1s0x48d6e1b2a94dd4b7%3A0x578846a57774170a!2zw5Zya2luLVNrw6FsaW5uLCBJY2VsYW5k!3m2!1d63.7401409!2d-20.027079399999998!5e0!3m2!1sen!2sus!4v1488130545267" width="100%" height="300px" top=0 left=0 position="absolute" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
</div>
