.text-center {
    text-align: center;
}

#posts{
  text-align: center;
  margin-top: 5%;
}

#cardStyle{
  margin-top: 4%;
  display: inline-block;
  margin: 0 0 1em;
  width: 80%;
}

#cardText{
  font-size: 75%;
  text-align: left;
}

#cardImage{
  height: 100%;
  width: 100%;
}

#miniMenu{
  margin-top: 3%;
}

.sidebarModule{
  padding: 1rem;
/*background-color: #f5f5f5;*/
  background-color: #FFFFFF;
border-radius: .25rem;
}

@media all and (max-width: 600px) {
    #miniMenu {display:none;}
}

#imageCards{
  display: inline-block;;
  column-break-inside: avoid;
}

#Images{
  #text-align: center;
  margin-top: 5%;
}

#images2{
  #text-align: center;
}
