<div class="svg">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#FDEF2B;stroke:#FFF200;stroke-miterlimit:10;}
    .st1{fill:#384FA2;}
    .st2{fill:#EE2530;}
    .st3{fill:#FFF200;}
    .st4{fill:none;stroke:#603913;stroke-miterlimit:10;}
    .st5{fill:#603A16;stroke:#603913;stroke-miterlimit:10;}
    .st6{fill:#603B19;stroke:#603913;stroke-miterlimit:10;}
    .st7{fill:#603C1A;stroke:#603913;stroke-miterlimit:10;}
    .st8{fill:#603D1C;stroke:#603913;stroke-miterlimit:10;}
    </style>
    <circle class="st0" cx="216" cy="155.9" r="62.7"/>
    <g>
        <polygon class="st1" points="131.6,124.1 184.9,127.9 179.3,74.8 213.9,115.6 247,73.6 244.1,127 297,119.1 257.8,155.4
        300.3,187.7 247.1,183.9 252.6,237 218.1,196.2 185,238.2 187.8,184.8 134.9,192.7 174.1,156.4 "/>
    </g>
    <g>
        <path class="st2" d="M259.7,199.7c-6.5-6.5-81.1-6.5-87.5,0c6.5-6.5,6.5-81.1,0-87.5c6.5,6.5,81.1,6.5,87.5,0
        C253.2,118.6,253.2,193.2,259.7,199.7z"/>
    </g>
    <g>
        <polygon class="st3" points="301.5,155.9 241.2,179.8 216,239.8 190.8,179.8 130.4,155.9 190.8,132 216,72 241.2,132 "/>
        <polygon class="st4" points="301.5,155.9 241.2,179.8 216,239.8 190.8,179.8 130.4,155.9 190.8,132 216,72 241.2,132 "/>
    </g>
    <polygon class="st5" points="216,155.9 132.4,155.9 190.8,179.8 "/>
    <polygon class="st6" points="216,155.9 216,238.2 240.8,179.8 "/>
    <polygon class="st7" points="216,155.9 299.9,155.9 240.8,132.3 "/>
    <polygon class="st8" points="216,155.9 216,73.1 190.9,132.3 "/>
</svg>


  <md-toolbar color="primary">
    <span>Royal Rangers</span>
  </md-toolbar>

  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="15%">Item 1</div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
    <div class="item item-3" fxFlex>Item 3</div>
  </div>

  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-4" fxFlex fxFlexOffset="50px"   fxFlexOffset.xs="0">Item 4</div>
    <div class="item item-5" fxFlex="200px">Item 5</div>
  </div>

  <!--<md-card class="example-card">

  <img md-card-image src="http://placehold.it/600/771796">
  <md-card-content>
    <p>
      Blah
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>-->
