<div class="container">
  <div class="jumbotron" id="banner-img">
    <h1>Royal Rangers</h1>
    <p style="color:gray;">Velkomin/n á nýju síðu Royal Rangers...</p>
    <!--<img class="forest-img" src="../assets/images/forest_transparent.png" />-->
  </div>
  <div class="row">
    <div class="col col-md-8">
      <div id="posts" *ngIf="Posts">
        <a routerLink="/postdetail/1" routerLinkActive="active">
          <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
            <img class="card-img-top" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image cap" id="cardImage">
            <div class="card-block">
              <h4 class="card-title">Skáta hátið!</h4>
              <p class="card-text" id="cardText">Some quick example text to build on the card title and make up the bulk of the card's content..Some quick example text to build on the card title and make up the bulk of the card's content..Some quick example text to build on the card title
                and make up the bulk of the card's content..</p>
            </div>
            <div class="card-footer">
              2017
            </div>
          </div>
        </a>
        <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
          <img class="card-img-top" src="//placehold.it/300x200/ee" alt="Card image cap" id="cardImage">
          <div class="card-block">
            <h4 class="card-title">Allir að skrá sig í Royal Rangers!</h4>
            <p class="card-text" id="cardText">Some quick itle and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            2017
          </div>
        </div>

        <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
          <img class="card-img-top" src="//placehold.it/300x200/ee" alt="Card image cap" id="cardImage">
          <div class="card-block">
            <h4 class="card-title">Nú er komið að því...</h4>
            <p class="card-text" id="cardText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            2017
          </div>
        </div>

        <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
          <img class="card-img-top" src="//placehold.it/300x200/ee" alt="Card image cap" id="cardImage">
          <div class="card-block">
            <h4 class="card-title">Haustið 2017</h4>
            <p class="card-text" id="cardText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            2017
          </div>
        </div>

        <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
          <div class="card-block">
            <h4 class="card-title">Minnum á skráningu</h4>
            <p class="card-text" id="cardText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            2017
          </div>
        </div>

        <button type="button" class="btn btn-secondary btn-lg btn-block" style="width:80%; display: inline-block; margin: 0 0 1em;">Hlaða meira...</button>
      </div>

      <div id="posts" *ngIf="Notifications">

        <div class="card" id="cardStyle" data-aos="fade-in" data-aos-duration="1000">
          <div class="card-block">
            <h4 class="card-title">Minnum á skráningu</h4>
            <p class="card-text" id="cardText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer">
            2017
          </div>
        </div>

        <button type="button" class="btn btn-secondary btn-lg btn-block" style="width:80%; display: inline-block; margin: 0 0 1em;">Hlaða meira...</button>
      </div>

      <div id="Images" *ngIf="Images">

        <app-images></app-images>
        <!--<div id="images2">

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>

          <div class="card" id="imageCards">
            <img class="card-img" id="cardImage" src="https://s4.postimg.org/gozhmenvx/image-alignment-300x200.jpg" alt="Card image">
          </div>
      </div>-->
      </div>

    </div>
    <div class="col col-md-4" id="miniMenu">
      <div class="sidebarModule">
        <div class="list-group">
          <button (click)="changeDisplay('Posts')" class="list-group-item display-button" id="PostsButton" [ngClass]="{'active':Posts === true}">
              <i class="fa fa-calendar-check-o fa-fw" aria-hidden="true"></i>&nbsp; Viðburðir
          </button>
          <button (click)="changeDisplay('Notifications')" class="list-group-item list-group-item-action display-button" id="NotificationsButton" [ngClass]="{'active':Notifications == true}">
              <i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i>&nbsp; Tilkynningar
          </button>
          <button (click)="changeDisplay('Images')" class="list-group-item list-group-item-action display-button" id="ImagesButton" [ngClass]="{'active':Images === true}">
              <i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>&nbsp; Myndir
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
