body {
  background-color: green;
  text-align: center;
  line-height: 100vh;
}


#logo{
  height: 60px;
width: 60px
}
/*#Layer_1{
  width: 100%;
  height: 100%;
}*/

.st1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s /*infinite linear*/;
  transform-origin: 50% 50%;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#toolbar{
  color: white;
  background-color: #08542f;
}

.item-4{
  background-color: blue;
}

.item-5{
  background-color: red;
}
