<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="container">
  <!--<md-icon id="logo">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 173.8 170.5" style="enable-background:new 0 0 173.8 170.5;" xml:space="preserve">
  <style type="text/css">
  .st0{fill:#FDEF2B;stroke:#FFF200;stroke-miterlimit:10;}
  .st1{fill:#384FA2;}
  .st2{fill:#EE2530;}
  .st3{fill:#FFF200;}
  .st4{fill:none;stroke:#603913;stroke-miterlimit:10;}
  .st5{fill:#603A16;stroke:#603913;stroke-miterlimit:10;}
  .st6{fill:#603B19;stroke:#603913;stroke-miterlimit:10;}
  .st7{fill:#603C1A;stroke:#603913;stroke-miterlimit:10;}
  .st8{fill:#603D1C;stroke:#603913;stroke-miterlimit:10;}
  </style>
  <circle class="st0" cx="86.9" cy="85.3" r="62.7"/>
  <g>
  <polygon class="st1" points="2.5,53.5 55.8,57.3 50.2,4.2 84.8,45 117.9,3 115,56.4 168,48.5 128.7,84.8 171.2,117.1 118,113.3
  123.6,166.4 89,125.6 55.9,167.6 58.8,114.2 5.8,122.1 45.1,85.8 	"/>
  </g>
  <g>
  <path class="st2" d="M130.7,129.1c-6.5-6.5-81.1-6.5-87.5,0c6.5-6.5,6.5-81.1,0-87.5c6.5,6.5,81.1,6.5,87.5,0
  C124.2,48,124.2,122.6,130.7,129.1z"/>
  </g>
  <g>
  <polygon class="st3" points="172.4,85.3 112.1,109.2 86.9,169.2 61.7,109.2 1.4,85.3 61.7,61.4 86.9,1.4 112.1,61.4 	"/>
  <polygon class="st4" points="172.4,85.3 112.1,109.2 86.9,169.2 61.7,109.2 1.4,85.3 61.7,61.4 86.9,1.4 112.1,61.4 	"/>
  </g>
  <polygon class="st5" points="86.9,85.3 3.3,85.3 61.8,109.2 "/>
  <polygon class="st6" points="86.9,85.3 86.9,167.5 111.7,109.2 "/>
  <polygon class="st7" points="86.9,85.3 170.9,85.3 111.7,61.6 "/>
  <polygon class="st8" points="86.9,85.3 86.9,2.5 61.8,61.6 "/>
  </svg>
</md-icon >-->
  <a class="navbar-brand" href="#">Royal Rangers</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Heim <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Um okkur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Leita">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Leita</button>
    </form>-->
    <a href="https://www.facebook.com/royalrangersoraefi?fref=ts" target="_blank"><i class="fa fa-facebook-official fa-2x" id="facebookIcon"></i></a>
  </div>
</div>
</nav>
  <!--<md-toolbar id="toolbar">
     <md-icon id="logo">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 173.8 170.5" style="enable-background:new 0 0 173.8 170.5;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FDEF2B;stroke:#FFF200;stroke-miterlimit:10;}
	.st1{fill:#384FA2;}
	.st2{fill:#EE2530;}
	.st3{fill:#FFF200;}
	.st4{fill:none;stroke:#603913;stroke-miterlimit:10;}
	.st5{fill:#603A16;stroke:#603913;stroke-miterlimit:10;}
	.st6{fill:#603B19;stroke:#603913;stroke-miterlimit:10;}
	.st7{fill:#603C1A;stroke:#603913;stroke-miterlimit:10;}
	.st8{fill:#603D1C;stroke:#603913;stroke-miterlimit:10;}
</style>
<circle class="st0" cx="86.9" cy="85.3" r="62.7"/>
<g>
	<polygon class="st1" points="2.5,53.5 55.8,57.3 50.2,4.2 84.8,45 117.9,3 115,56.4 168,48.5 128.7,84.8 171.2,117.1 118,113.3
		123.6,166.4 89,125.6 55.9,167.6 58.8,114.2 5.8,122.1 45.1,85.8 	"/>
</g>
<g>
	<path class="st2" d="M130.7,129.1c-6.5-6.5-81.1-6.5-87.5,0c6.5-6.5,6.5-81.1,0-87.5c6.5,6.5,81.1,6.5,87.5,0
		C124.2,48,124.2,122.6,130.7,129.1z"/>
</g>
<g>
	<polygon class="st3" points="172.4,85.3 112.1,109.2 86.9,169.2 61.7,109.2 1.4,85.3 61.7,61.4 86.9,1.4 112.1,61.4 	"/>
	<polygon class="st4" points="172.4,85.3 112.1,109.2 86.9,169.2 61.7,109.2 1.4,85.3 61.7,61.4 86.9,1.4 112.1,61.4 	"/>
</g>
<polygon class="st5" points="86.9,85.3 3.3,85.3 61.8,109.2 "/>
<polygon class="st6" points="86.9,85.3 86.9,167.5 111.7,109.2 "/>
<polygon class="st7" points="86.9,85.3 170.9,85.3 111.7,61.6 "/>
<polygon class="st8" points="86.9,85.3 86.9,2.5 61.8,61.6 "/>
</svg>
</md-icon >
    <span> Royal Rangers</span>
  </md-toolbar>-->
